{% extends "base.html" %}

{% block maincontent %}

<!-- Jumbotron Content -->
<div class="jumbotron row-no-margin">
<div class="row">
  <div class="col-md-6">
    <h1 class="text-center fancy-txt">Come see about me!</h1>
    <p class="lead txt">Julia is a Bay Area transplant residing in New York City. She has been on the road with multiple touring productions and has performed in 46 out of the 50 states (including Alaska and Hawaii).  She is happiest when performing, but when she is not onstage, she can be found doing the three "C"s: <em>crafting</em>, <em>cooking</em>, and <em>cooter</em> slamming. </p><br>

    <p class="txt">Julia holds a BFA in Musical Theatre from Notre Dame de Namur University and has studied and performed with Operafestival di Roma</p>
  </div>
  <div class="col-md-6">
    <!-- img -->
    <img src="static/img/nyc_pose.jpg" alt="Julia NYC Pose" class="img-rounded" id="sidephoto">
  </div>
</div>
</div>

{% endblock %}