{% extends "base.html" %}

{% block maincontent %}

<!-- Jumbotron Content -->
<div class="jumbotron row-no-margin">
<!-- Row 1 -->
<div class="row text-center fancy-txt">
  <h1>Videos... more to come!</h1>
</div>
<br><br><br>

<!-- Row 2 -->
<div class="row text-center">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/125584881" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/125584881">Life with Harold</a> from <a href="https://vimeo.com/user24835444">Julia Hosack</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <h2>Life With Harold</h2>
    <p>Recorded live on March 19, 2015</p>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/126633555" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/126633555">Smokey Joes</a> from <a href="https://vimeo.com/user24835444">Julia Hosack</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <h2>Smokey Joe's Cafe</h2>
    <p>Live audio Recording on August 20, 2014</p>
      <ul class="no-bullets">
        <li>0:03 "I Keep Forgetting"</li>
        <li>1:24 "Pearl's a Singer"</li>
        <li>3:12 "I'm a Woman"</li>
        <li>4:18 "Kansas City"</li>
        <li>4:42 "Love Me/ Don't"</li>
      </ul>
  </div>
</div>
<br><br><br>


<!-- Row 3 -->
<div class="row text-center">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/125636902" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/125636902">I&#039;ll Believe in You</a> from <a href="https://vimeo.com/user24835444">Julia Hosack</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <h2>I'll Believe in You - Elf</h2>
    <p>Julia Louise Hosack and Noah Marlowe</p>
    <p>Live Recording of the 2013 Equity tour at the Cadillac Palace November 2013</p>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/125636900" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/125636900">There is a Santa Claus</a> from <a href="https://vimeo.com/user24835444">Julia Hosack</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <h2>There is a Santa Claus - Elf</h2>
      <p>Julia Louise Hosack and Noah Marlowe</p>
      <p>Live recording of the 2013 Equity Tour at the Cadillac Palace November 2013</p>
  </div>
</div>
</div>
{% endblock %}