{% extends "base.html" %}

{% block maincontent %}

<!-- Jumbotron Content -->
<div class="jumbotron row-no-margin">
  <div class="row">
    <div class="col-md-6">
      <img src="static/img/headshot_turned.jpg" alt="Julia Headshot" class="img-rounded" id="sidephoto">
    </div>
    <div class="col-md-6">
      <h1 class="text-center fancy-txt">Welcome!</h1>
      <p class="lead txt">Julia just completed "Mouth Pieces,"a reading of three one-act 
          musicals written by Sophia Chapadjiev and Allison Leyton-Brown.</p><br>

      <p class="txt">"Mouth Pieces" was part of the 2015 Stages Festival in New Jersey.</p>
    </div>  
  </div>
</div>

{% endblock %}