{% extends "base.html" %}

{% block maincontent %}

<!-- Jumbotron Content -->
<div class="jumbotron row-no-margin">
  <div class="row">
    <div class="col-md-7">
      <h1 class="fancy-txt">The reviews are in...</h1>
      <!-- text -->
      <blockquote>
        <p>All of the major leads in this equity tour are first rate including Julia Louise Hosack as Buddy's step-mom, whose amazing alto voice is thrilling to listen to</p>
        <footer>Michael J Roberts <cite title="Source Title">Showbiz Chicago</cite></footer>
      </blockquote>
      <blockquote>
        <p>Hosack's vocal talents are strong but not showcased enough; out of nowhere, she rode notes in the stratosphere in "There Is a Santa Claus," causing the whole audience to cheer</p>
        <footer>Jesse R Gephart <cite title="Source Title">Triangle Arts and Entertainment</cite></footer>
      </blockquote>
      <blockquote>
        <p>There's a nice stage relationship between Barth and Julia Louise Hosack as his mother, Emily. She knits together loose ends, balances the credible and incredible, and sings like a dream</p>
        <footer>Janet Preus <cite title="Source Title">Twin Cities Review</cite></footer>
      </blockquote>
      <blockquote>
        <p>The show's songs and story are so touching, you'd be worthy of a spell if you weren't moved by the title number (lovingly sung by Julia Louise Hosack, as Mrs. Potts) and the love that conquers all</p>
        <footer>Bruce R. Miller <cite title="Source Title">Sioux City Journal</cite></footer>
      </blockquote>
    </div>
    <div class="col-md-5">
      <img src="static/img/smile.jpg" alt="Julia Smiling" class="img-rounded" id="sidephoto">
    </div>
  </div>
</div>

{% endblock %}